.coin_container{
    display: flex;
    justify-content: center;
}

.coin_row{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    align-items: center;
    height: 80px; width: 1000px;
    padding: 0rem 2rem;
    border-bottom: 1px solid #2e2e2e;
}

.coin_row:hover{
    background: #171718;
}

.coin{
    width: 30%;
    display: flex;
    align-items: center;
    padding-right: 24px;
}

.coin_img{
    height: 30px; width: 30px;
    margin: 0 10px 0 0;
}

.coin_h1{
    font-size: 16px;
    width: 150px;
}

.coin_symbol{
    text-transform: uppercase;
}
.coin_data{
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.coin_price{
    width: 15%;
}
.coin_volume{
    width: 25%;
}
.coin_percent{
    /* width: 10%; */
}
.red{
    width: 10%;

    color: red;
}
.green{
    width: 10%;

    color: green;
}

.coin_marketcap{
    width: 50%;
}